<style>
  /* Add box shadow to the dropdowns */
  .form-group .form-control {
    box-shadow: 0 2px 4px rgba(63, 37, 229, 0.1);
  }

  .form-container {
    box-shadow: 0 4px 7px rgba(16, 83, 216, 0.1);
  }

  label {
    font-weight: lighter;

    padding-top: 15px;
  }
</style>

<section class="py-2">
  <div class="container mt-3 rounded-4">
    <div class="col-md-6 text-right">
      <a href="/admin/assignmentCheck?department={{department}}" class="btn btn-secondary mt-2 mb-2">back</a>
      <a href="/admin/viewAssignmentSchedule?department={{this.department}}" class="btn btn-secondary mt-2 mb-2">view schedule</a>

    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 justify-content-center align-items-center d-flex">
        <div class="card form-container col-12 rounded-4">
          <div class="card-body ">
            <h2 class="text-center mb-4 title ">Create Assignment</h2>

            <form action="/admin/makeAssignment" method="post">


              <div class="form-group input-container" hidden>
                <label for="department">Department:</label>
                <select class="form-control" name="department" id="departmentDropdown">
                  <option value='{{this.department}}'>{{this.department}}</option>
                </select>
              </div>

              <div class="form-group input-container">
                <label for="semester">Select Semester:</label>
                <select class="form-control" name="sem" id="semesterDropdown">
                  <option value="1">Semester 1</option>
                  <option value="2">Semester 2</option>
                  <option value="3">Semester 3</option>
                  <option value="4">Semester 4</option>
                  <option value="5">Semester 5</option>
                  <option value="6">Semester 6</option>
                </select>
              </div>

              <div class="form-group input-container">
                <label for="subject">Select Subject:</label>
                <select class="form-control" name="name" id="subjectDropdown">
                  <!-- Empty dropdown, to be populated dynamically -->
                </select>
              </div>
              <div class="form-group input-container">
                <label for="assignment number">Assignment Number:</label>
                <input type="text" class="form-control input" name="number">
              </div>

              <div class="form-group input-container">
                <label for="submission date">Submission Date:</label>
                <input type="datetime-local" class="form-control input" name="dateTime">
              </div>

              <div class="form-group input-container">
                <label for="description">Assignment Description:</label>
                <textarea class="form-control input" name="description"></textarea>
              </div>


              <div class="text-center">
                <button type="submit" class="btn btn-success mt-4 submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function loadSubjects(semester, department) {
    let url = '';

    // Determine the URL based on the selected department
    if (department === 'computer') {
      url = '/admin/computer-subjects';
    } else if (department === 'electronics') {
      url = '/admin/electronics-subjects';
    } else if (department === 'printing') {
      url = '/admin/printing-subjects';
    } else if (department === 'mechanical') {
      url = '/admin/mechanical-subjects';
    }




    console.log('Selected Semester:', semester);
    console.log('Selected Department:', department);

    // Fetch subjects based on the selected year, semester, and department from your server
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ semester }),
    })
      .then(response => response.json())
      .then(data => {
        const subjectDropdown = document.getElementById('subjectDropdown');
        subjectDropdown.innerHTML = '';

        data.subjects.forEach(subject => {
          const option = document.createElement('option');
          option.value = subject;
          option.text = subject;
          subjectDropdown.appendChild(option);
        });
      })
      .catch(error => console.error('Error fetching subjects:', error));
  }

  function loadSubjectsAndDepartments() {

    const selectedSemester = document.getElementById('semesterDropdown').value;
    const selectedDepartment = document.getElementById('departmentDropdown').value;

    loadSubjects(selectedSemester, selectedDepartment);
  }


  document.getElementById('semesterDropdown').addEventListener('change', loadSubjectsAndDepartments);
  document.getElementById('departmentDropdown').addEventListener('change', loadSubjectsAndDepartments);

  loadSubjectsAndDepartments();
</script>