<div class="container1">
      <form class="form" action="/signup" method="POST">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" name="firstname" placeholder="" type="text" class="input">
            <span>Firstname</span>
        </label>

        <label>
            <input required="" name="lastname" placeholder="" type="text" class="input">
            <span>Lastname</span>
        </label>
    </div>  
            
    <label>
        <input required="" name="email" placeholder="" type="email" class="input">
        <span>Email</span>
    </label>

    <label>
        <input required="" name="phone" placeholder="" type="Phone" class="input">
        <span>Phone</span>
    </label> 
        
    <label>
        <input required="" name="pw" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
    <label>
        <input required="" name="pw_confirm" placeholder="" type="password" class="input">
        <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="/login">Signin</a> </p>
</form>
    </div>
  </div>
  </div>
  